Package: AppImageBuilderGUI
Version: 2.5
Section: utils
Priority: optional
Architecture: all
Maintainer: Zerbaib <zerbaib@proton.me>
Depends: bash, libgtk-3-0 | gtk3-engines-xfce, xdg-utils, curl, zenity
Description: Automation Script for AppImages
 AppImageBuilder is a bash script that automates the usage of an AppImage on a Linux system.
 It makes the AppImage executable,
 creates a shortcut on the desktop and in the applications menu (Start Menu),
 and updates GTK libraries if necessary.
